* {
	margin: 0;
	padding: 0;
}

body {
	background: #FFFFFA;
	font-family: 'Dosis', sans-serif;
}
}

#home-header {
  width: 200px;
  height: 200px;
  display: block;
  position: relative;
}

#home-header .intro {
	margin-bottom: 20px;
	font-size: 50px;
	text-shadow: 0px 0px 40px #FFF;

}

hr {
	margin: 0 50px 10px 50px;
	border: 1px solid #ccc;
}

#home-header::after {
  content: "";
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../images/back.png');
  background-position:center top;
  top: 0;
  left: 0;
  bottom: 30px;
  right: 0;
  position: absolute;
  z-index: -1;   
}

#home-header #home-pictures {
	text-align: center;
	display: inline-block;
	margin-top: calc(15%);
	width: calc(100%);
	font-size: 18px;
	letter-spacing: -0.5px;
}

.home-contact {
	text-align: center;
	width: 100%;
	margin: 0px auto;
	margin-top: calc(20%);
}

#facebook, #linkedin {
	margin-right: 10px;
}

#facebook img:hover { content: url("../images/facebook.png"); transform: scale(1.5); }
#linkedin img:hover { content: url("../images/linkedin.png"); transform: scale(1.5); } 
#github img:hover { content: url("../images/github.png"); transform: scale(1.5); }

.infos, .contact-form {
	float: left;
    width: calc(50%);
    height: 250px;
	background: #5CCC35;
    overflow: auto;
    vertical-align: middle;
}

.infos h3, .contact-form h3 {
	text-transform: uppercase;
	text-decoration: underline;
	text-decoration-color: #FFF;
	font-size: 35px;
	margin-top: 2%;
	margin-bottom: 2%;
}

.infos p {
	color: #FFF;
	line-height: 50px;
	font-size: 20px;
	text-align: center;
	margin: 0 3% 0 3%;
	letter-spacing: 1%;
}

.infos b {
	color: #000;
	text-transform: uppercase;
	text-shadow: none;
}

#contact {
	margin-top: -250px;
}

.contact-form {
	line-height: 30px;
	font-size: 20px;
	text-align: center;
	letter-spacing: 1%;
}

#form input[type="text"],
#form input[type="email"],
#form textarea
{
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    background: #fff;
    margin-bottom: 1%;
    border: 1px solid #ccc;
    color: #555;
    font: 80% 'Dosis', sans-serif;
    width: 50%;
	border-radius: 5px;
}

#form textarea {
	height: 20%;
}

#form input[type="text"]:focus,
#form input[type="email"]:focus,
#form textarea:focus
{
    box-shadow: 0 0 50px #000;
}

#form input[type="submit"],
#form input[type="button"]{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    background: #FFF;
    border-bottom: 2px solid rgba(245, 245, 230, 0.4);
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;  
    width: 25%;  
    font: 100% 'Dosis', sans-serif;
    color: #000;
    margin-bottom: 2%;
}

#form input[type="submit"]:hover,
#form input[type="button"]:hover{
    background: rgba(230, 230, 230, 1);
    border: 0px 0px 50px solid rgba(0,0,0,1);
}

.home-features {
	text-align: center;
	width: 90%;
	height: 270px;
	margin: 0px auto;
	margin-top: calc(18%);
}

.home-features p {
	text-align: justify;
	margin: 0 20px 0 20px;
}

.home-features h2 {
	text-transform: uppercase;
	text-decoration: underline;
	text-shadow: 2px 2px 2px rgba(245, 245, 240, 0.4);
	color: #5CCC35;
	margin-bottom: 5px;
}

#f-feature, #s-feature, #t-feature {
	float: right;
	font-size: 20px;
    width: calc(33.33333333333333333% - 20px);
    height: 250px;
    margin-right: 20px;
    padding: 100px auto;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.3);
    background-color: rgba(245, 245, 240, 0.4);
    border-radius: 10px;
    overflow: auto;
    /*animate*/
    -webkit-transition: all 300ms ease-in;
    -webkit-transform: scale(1); 
    -ms-transition: all 300ms ease-in;
    -ms-transform: scale(1); 
    -moz-transition: all 300ms ease-in;
    -moz-transform: scale(1);
    transition: all 300ms ease-in;
    transform: scale(1); 
}

#f-feature:hover, #s-feature:hover, #t-feature:hover {
	box-shadow: 0px 0px 150px #000;
    z-index: 100;
    background-color: rgba(255, 255, 255, 1);
    -webkit-transition: all 300ms ease-in;
    -webkit-transform: scale(1.2);
    -ms-transition: all 300ms ease-in;
    -ms-transform: scale(1.2);   
    -moz-transition: all 300ms ease-in;
    -moz-transform: scale(1.2);
    transition: all 300ms ease-in;
    transform: scale(1.2);
}

#home-content #home-more {
	text-align: center;
	margin-top: 5px;
	width: calc(100%);
	font-size: 22px;
	letter-spacing: -0.5px;
}

#home-content #home-more p:first-of-type {
	font-size: 25px;
	text-decoration: underline;
}

#home-content #home-more .button, .button {	
	text-align: center;
	width: 20%;
	margin: 0px auto;
}

#home-content #home-more a, .button a {
	height: 40px;
    width: 800px;
    font-size: 30px;
    background: #5CCC35;
    text-transform: uppercase;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    padding: 5px 15px 5px 15px;
    border-radius: 6px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
    color: #fff;    
    -webkit-transition: all 300ms ease-in;
    -webkit-transform: scale(1); 
    -ms-transition: all 300ms ease-in;
    -ms-transform: scale(1); 
    -moz-transition: all 300ms ease-in;
    -moz-transform: scale(1);
    transition: all 300ms ease-in;
    transform: scale(1); 
    text-decoration: none;
    text-shadow: 2px 2px 2px #000;
}

#home-content #home-more a:hover, .button a:hover {
	box-shadow: 0px 0px 50px #61FF3B;
    z-index: 2;
    -webkit-transition: all 300ms ease-in;
    -webkit-transform: scale(1.5);
    -ms-transition: all 300ms ease-in;
    -ms-transform: scale(1.5);   
    -moz-transition: all 300ms ease-in;
    -moz-transform: scale(1.5);
    transition: all 300ms ease-in;
    transform: scale(1.2);
}


header {
	width: 100%;
}

header nav {
	width: 100%;
	margin: 0px auto;
	background: #5CCC35;
}

.menu_bar {
	display: none;
}

header nav ul {
	overflow: hidden;
	list-style-type: none;
}

header nav ul li {
	float: right;
	font-size: 20px;
}

header nav ul li a {
	text-shadow: 2px 2px 2px #000;
	color:#fff;
	padding: 20px;
	display: block;
	text-decoration: none;
}

header nav ul li span {
	margin-right: 10px;
}

header nav ul li a:hover {
	background: #61FF3B;
}

footer {
	clear: both;
	color: #FFF;
	text-shadow: 4px 4px 4px #000;
	font-size: 18px;
	width: 100%;
	padding: 20px auto;
	text-align: center;
	background: #5CCC35;
	padding: 20px 0px 20px 0px;
}

footer #link {
	margin-bottom: 0.5%;
}

footer hr {
	margin: 0 10% 1% 10%;
	border: 1px solid #ccc;

}

@media screen and (max-width: 800px) {
	header nav ul li:first-child {display: none;}

	header nav {
		width: 80%;
		height: 100%;
		left: -100%;
		margin: 0;
		position: fixed;
		z-index: 10;
	}

	header nav ul li {
		display: block;
		float: none;
		border-bottom: 1px solid rgba(255, 255, 255, .3);
	}

	.menu_bar {
		display: block;
		width: 100%;
		background: #ccc;
	}

	.menu_bar .bt-menu {
		text-shadow: 2px 2px 2px #000;
		display: block;
		padding: 20px;
		background: #5CCC35;
		color: #fff;
		text-decoration: none;
		font-size: 25px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing:border-box;
		box-sizing: border-box;
	}

	.menu_bar span {
		float: right;
		font-size: 40px;
	}

	#contact {
		margin-top: 0px;
	}

	.infos {
		margin-top: 12%;
		margin-bottom: -2%;
	}
	
	.infos, .contact-form {
		float: none;
		display: block;
		width: 100%;
	}

	#form input[type="text"],
	#form input[type="email"],
	#form textarea
	{
	    font: 90% 'Dosis', sans-serif;
	    width: 70%;
		border-radius: 5px;
	}

	#form input[type="submit"],
	#form input[type="button"]{
	    width: 50%;  
	    font: 100% 'Dosis', sans-serif;
	    margin-bottom: 2%;
	    border-radius: 5px;
	}
	/*.home-features, #f-feature, #s-feature, #t-feature {
		float: none;
		display: block;
		width: 100%;
		padding: 0px;
		margin-right: 0px;
	}*/
}

/*################################### Features ###################################*/

.produit{
	margin-top: 10%;
	margin-bottom: 10%;
	text-align: center;
	padding-bottom: 7%;
}
.content{
	text-align: center;
}
.title_f{
	margin-bottom: 5%;
	color: #5CCC35;
	font-size: 2.3em;
}
.overview{
	font-size: 1.3em;
}
.feature_title, .description{
	border: 5px solid #5CCC35;
	border-style: inset;
}

.content .feature{
	float: left;
	width: calc(33.3333333% - 80px);
	padding:0px 40px;
	margin-bottom: 5%;
}
.description{
	font-size: 1.2em;
	width: 97%;

	line-height:175px;
}
.text{
	display: inline-block;
	vertical-align: middle;
	line-height: 100%;
	color: #4BA62B;
}
.feature_title{
	color: white;
	background-color: #24CC0A;
	font-size: 1.5em;
	border: 10px solid #1EBF00;
	height: 125px;
	display: table-cell;
	vertical-align: middle;
	width: 25%;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
footer{
	clear: both;
	width: 100%;
	padding-top: 20px;
	text-align: center;
}
@media screen and (max-width: 800px) {
		.content .feature {
			float: none;
			margin: auto;
			width:75%;
			padding-bottom: 20px;
		}
		.feature_title{
			margin: 0 auto;
		}
		.description{
			line-height: 100%;
		}
		.description .text{
			display: block;
			vertical-align: middle;
			line-height: 100%;
		}
}

/*################################### Pricing ###################################*/
.Title{
	margin:auto;
	text-align:center;
}
.AllThePricing {
	margin: 0 auto;
	width: 960px;
}

.pricetable {
	box-shadow: 0px 0px 3px gray;
	display: inline-block;
	margin: 30px 10px;
	width: 250px;
}

.PriceTableHeader {
	background-color: #24CC0A;
	border-radius: 5px 5px 0px 0px;
	padding: 15px;
	text-align: center;	
}

.PriceTableHeader h1 {
	font-size: 14px;
	text-transform: uppercase;
}

.PriceContent ul {
	list-style: none;	
}

.PriceContent ul li {
	border-bottom: 1px solid #efeff0;
	font-size: 14px;
	padding: 16px 56px;
}
.pricing-table-footer {
	background-color: #f5f7f8;
	border-radius: 0px 0px 5px 5px;
	padding: 16px 0;
}
	
.PriceFooter {
		text-align: center;	
}

.PriceFooter p {
		font-size: 12px;
		text-transform: uppercase;	
}

.PriceFooter a {
		background: #50b7e4;
		background-color: green;
		border: 1px solid #1481b0;
		border-radius: 5px;
		color: #fff;
		display: inline-block;
		font-weight: bold;
		margin-top: 10px;
		padding: 10px;
		text-decoration: none;
}

@media screen and (max-width: 800px) {
	.pricetable{
		display: block;
		width: 100%;
		
	}
	.AllThePricing {
	margin: 0 auto;
	width: 75%;
    }
}
/* ############### Team page ############*/

.profile_pic{
    height: inherit;
    width:50%;
    max-height: 20%;
    max-height: 20%;
    border-radius: 10px;
    position: relative;
    margin-top:1.25em;
}

.members{
    max-width: 1140px;
    margin: 0px;
    padding: 0 20% 0 20%;
    position: relative;
    background-color: black;
    clear: both;
}
.member_description ul{
    font-size: 1.9em !important;
}

.title_sub{
    text-align: center;
    margin: 1.8em;
    font-size: 1.8em;
    -webkit-animation-duration: 2;
    animation-duration: 2sec;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.member_title{
    font-size: 2em;
    font-weight: bolder;
    margin-top:1.5em;
    align-content: center;
    text-align: right;
    font-style: oblique;    
}
@-webkit-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
         
@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
         
.fadeIn {
-webkit-animation-name: fadeIn;
animation-name: fadeIn;
}

.left{
    margin: 2.5em;
    float: left;
    clear: left;
}

.right{
    margin: 2.5em;
    float: right;
    clear: right;
}

#divider {
    border-bottom-width: 0.3px;
    border-style: solid;
    margin: 0 auto;
    max-width: 75%;
    color: darkgreen;
    padding: 0 20px 0 20px;
}

.member_title left, .member_title right{
    font-size: 2em;
    margin: none;
}

@media screen and (max-width: 800px) {
    .member {
		float: none;
        margin-left: 0;
		margin: auto;
		width:75%;
		padding-bottom: 20px;
        align-content: left;
	}
    .profil_pic .right .left{
        float: left;
        align-content: left !important;
    }
	.member_title{
        float: left;
        margin-left: 0;
		margin: auto;
	}
	.description{
		line-height: 100%;
        margin-left: 0;
	}
	.description .text{
		display: block;
		vertical-align: middle;
		line-height: 100%;
	}
}
