body {
    font-family: "Dosis", sans-serif;
    text-align: center;
}

a {
    text-decoration: none;
}

.produit{
	margin-top: 10%;
	margin-bottom: 10%;
}

.title{
	margin-bottom: 5%;
	color: #5CCC35;
}
.feature_title, .description{
	border: 5px solid #5CCC35;
	border-style: inset;
	/*background-color: #5CFF35;*/
	/*background-color: #90E372;*/
	

	
}
.content .feature{
	float: left;
	width: calc(25% - 30px);
	padding:0px 10px;
}
.description{
	font-size: 1.2em;
	width: 97%;

	line-height:270px;
}
.text{
	display: inline-block;
	vertical-align: middle;
	line-height: 100%;
}
.feature_title{
	color: white;
	background-color: #24CC0A;
	font-size: 1.5em;
	/*border: 10px solid #5CCC35;*/
	border: 10px solid #1EBF00;
	height: 200px;
	display: table-cell;
	vertical-align: middle;
	width: 25%;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
footer{
	clear: both;
	width: 100%;
	padding-top: 20px;
}
	