@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?j1dw4a');
  src:  url('fonts/icomoon.eot?j1dw4a#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?j1dw4a') format('truetype'),
    url('fonts/icomoon.woff?j1dw4a') format('woff'),
    url('fonts/icomoon.svg?j1dw4a#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
  content: "\e900";
}
.icon-home2:before {
  content: "\e901";
}
.icon-home3:before {
  content: "\e902";
}
.icon-coin-dollar:before {
  content: "\e93b";
}
.icon-phone:before {
  content: "\e942";
}
.icon-phone-hang-up:before {
  content: "\e943";
}
.icon-key:before {
  content: "\e98d";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-grin:before {
  content: "\e9e9";
}
.icon-google2:before {
  content: "\ea89";
}
.icon-facebook2:before {
  content: "\ea91";
}
.icon-github:before {
  content: "\eab0";
}

